{% extends 'base.html' %} {% block content %}
<div
  class="header"
  style="display: flex; justify-content: space-between; align-items: center"
>
  <div>
    <h1>Base de Dados</h1>
    <p>Acesse e exporte o histórico completo das predições realizadas.</p>
  </div>
  <a href="/exportar" class="btn-download">Baixar Arquivo CSV</a>
</div>

<div class="table-container">
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Frequência</th>
        <th>Média</th>
        <th>Renda</th>
        <th>Idade</th>
        <th>Repetência</th>
        <th>Diagnóstico</th>
      </tr>
    </thead>
    <tbody>
      {% for r in registros %}
      <tr>
        <td>#{{ r['id'] }}</td>
        <td>{{ r['frequencia'] }}%</td>
        <td>{{ r['media'] }}</td>
        <td>{{ r['renda'] }}</td>
        <td>{{ r['idade'] }}</td>
        <td>{{ 'Sim' if r['repetencia'] == 1 else 'Não' }}</td>
        <td><span class="badge">{{ r['resultado_texto'] }}</span></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
