<!doctype html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <title>Formulário de Dados Médicos</title>
  </head>
  <body>
    <h2>Avaliação de Risco de Evasão Escolar</h2>
    <form action="/" method="POST">
      <label for="frequencia">Frequência Escolar (%):</label>
      <input
        type="number"
        id="frequencia"
        name="frequencia"
        step="0.1"
        min="0"
        max="100"
        required
      /><br /><br />

      <label for="media_notas">Média das Notas (0 a 10):</label>
      <input
        type="number"
        id="media_notas"
        name="media_notas"
        step="0.1"
        min="0"
        max="10"
        required
      /><br /><br />

      <label for="renda_familiar">Renda Familiar:</label>
      <select id="renda_familiar" name="renda_familiar" required>
        <option value="1">Baixa</option>
        <option value="2">Média</option>
        <option value="3">Alta</option></select
      ><br /><br />

      <label for="idade">Idade do Aluno:</label>
      <input
        type="number"
        id="idade"
        name="idade"
        min="5"
        max="100"
        required
      /><br /><br />

      <label for="historico_repetencia">Histórico de Repetência:</label>
      <select id="historico_repetencia" name="historico_repetencia" required>
        <option value="0">Não possui</option>
        <option value="1">Sim, possui</option></select
      ><br /><br />

      <button type="submit">Enviar</button>
    </form>
    {% if predicao %}
    <div>
      <h3>Resultado da Análise: <span class="destaque">{{predicao}}</span></h3>
    </div>

    <div>{{ grafico|safe }}</div>
    {% endif %}
  </body>
</html>
